html {
  font-family: Helvetica;
  text-align: center;
}


h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

#home, .title, .footer {
  color: white;
}

#home {
  background-image: url("../images/the-flatiron-building.png");
}

.title {
  background-image: url("../images/the-flatiron-building.png");
}

.footer {
  background-color: dimgray;
  text-align: left;
}

.footer p {
  font-size: 11px;
}

#home p, .footer a {
  font-size: 18px;
}
